/* Время чтения теории */
.badgeWrapper {
  padding: 15px;
  border-radius: 5px;
  background-color: #919191;
  display: block;
  float: right;
  color: #fff;
  font-weight: 600;
}

/* Проценты дз & вебинара */
.percent {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  user-select: none;
}

.percent-gray {
  color: #ccc;
}

.percent-red {
  color: #b34b4b;
}

.percent-yellow {
  color: #c1bd0d;
}

.percent-green {
  color: rgb(127, 201, 46);
}

.webinarPercent {
  margin-left: auto;
}

/* Блок рейтинга */
.ratingWrapper {
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 32px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: initial;
  align-items: center;
}

.ratingPosition {
  margin: 0px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.3;
  font-size: 24px;
  display: inline;
  color: rgb(51, 51, 51);
}

.ratingTime {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  display: inline;
  color: rgb(51, 51, 51);
}
