:root {
  --large-font-size: 24px;
  --main-font-size: 14px;
  --small-font-size: 12px;
  --main-border-color: #cccccc;
  --main-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  --aditional-block-bg: #f5f5f5;
  --hover-bg: #e0e0e0;
  --active-tab-bg: #e7e6e6;
}

/* CSS reset */
*,
*::after,
*::before {
  user-select: none;
  margin: 0;
  padding: 0;
  font-size: var(--main-font-size);
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
  font-weight: 400 !important;
}

body {
  display: flex;
  flex-direction: column;
  width: 325px !important;
  min-height: 300px;
}

h1 {
  font-size: var(--large-font-size);
}

label {
  font-size: var(--main-font-size);
}

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 295px;
}

.hidden,
.hidden * {
  visibility: hidden !important;
  height: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  cursor: default !important;
}

.small {
  font-size: var(--small-font-size);
}

#logo {
  width: 15vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px 15px 7.5px 15px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  padding: 7.5px 15px 15px 15px;
  font-size: var(--main-font-size);
}

.links {
  display: flex;
  gap: 10px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  padding: 5px;
  transition: var(--main-transition);
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
}

.link img {
  filter: invert(41%) sepia(12%) saturate(11%) hue-rotate(6deg) brightness(94%) contrast(88%);
  transition: var(--main-transition);
}

.link:hover {
  background-color: var(--hover-bg);
}

.link:hover img {
  filter: unset;
}

.refreshPage {
  display: flex;
  opacity: 1;
  height: auto;
  margin-top: 10px;
  padding: 5px;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 2s;
  background-color: var(--aditional-block-bg);
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  font-size: var(--main-font-size);
}

.button {
  display: block;
  padding: 10px 5px;
  transition: var(--main-transition);
  cursor: pointer;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  font-size: var(--main-font-size);
}

.button:hover {
  background-color: var(--hover-bg);
}

.meta-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex: 1;
}

.meta-element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #686868;
}

.meta-element img {
  filter: invert(41%) sepia(12%) saturate(11%) hue-rotate(6deg) brightness(94%) contrast(88%);
  width: 22px;
  height: 22px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tab-content {
  display: none;
  width: 295px;
}

.tab-content.active {
  display: block;
}

.tab-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  transition: var(--main-transition);
  cursor: pointer;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  font-size: var(--main-font-size);
}

.tab-button img {
  filter: invert(41%) sepia(12%) saturate(11%) hue-rotate(6deg) brightness(94%) contrast(88%);
  transition: var(--main-transition);
}

.tab-button:hover {
  background-color: var(--hover-bg);
}

.tab-button:hover img {
  filter: unset;
}

.tab-button.active {
  background-color: var(--active-tab-bg);
}

.extInfo {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.theme-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.report-bug {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.report-bug .button {
  padding: 10px 15px;
}

.theme-selector label {
  font-size: var(--main-font-size);
}

#theme {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  transition: 0.2s linear;
  background-color: var(--aditional-block-bg);
  cursor: pointer;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  font-size: var(--main-font-size);
  color: #666;
}

#theme:focus {
  outline: none;
  border: 1px solid #9ba8c4;
}

.theme-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  padding: 15px;
  transition: 2s ease;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: var(--main-font-size);
}

.version-outdated {
  color: #b92222;
  text-decoration: underline;
}

.version-outdated::after {
  content: ' - устарела';
}

.reading-list-item {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  position: relative;
  padding: 15px;
  transition: var(--main-transition);
  cursor: pointer;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  word-break: break-word;
}

.reading-list-item img {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}

.reading-list-item:hover {
  background-color: var(--hover-bg);
}

.reading-list-item__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.reading-list-item__course {
  font-style: italic;
  color: #6b6b6b;
}

#readingList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body::-webkit-scrollbar {
  display: none !important;
}

.reading-list-item__close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.reading-list-item__close:after {
  content: '✖';
  font-size: 16px;
}

#refreshButton {
  flex-shrink: 0;
}

.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: var(--main-font-size);
  color: #686868;
}
