:root {
  --text-color: rgba(0, 0, 0, 0.625);
  --border-color: rgba(0, 0, 0, 0.125);
  --background-color: rgba(0, 0, 0, 0.075);
  --hover-background-color: rgba(0, 0, 0, 0.175);

  --border-radius: 4px;

  --border: 1px solid var(--border-color);
}

/* Время чтения теории */
.readingTime {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  height: 3rem;
  padding: 0 1rem;
  color: var(--text-color);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

/* Список чтения */
.readingListButton {
  font-weight: 600;
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  margin-left: 0.625rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background-color);

  &:hover {
    background-color: var(--hover-background-color);
  }

  img {
    width: 100%;
    height: 100%;
    filter: invert(41%) sepia(12%) saturate(11%) hue-rotate(6deg) brightness(94%) contrast(88%);
  }
}

/* Мелкий фикс, чтобы блоки времени чтения и списка не наезжали на текст */
#wikiThemeContent {
  margin-top: 1rem;
}

/* Проценты дз & вебинара */
.percent {
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  user-select: none;

  &.percent-gray {
    color: #ccc;
  }

  &.percent-red {
    color: #b34b4b;
  }

  &.percent-yellow {
    color: #c1bd0d;
  }

  &.percent-green {
    color: rgb(127, 201, 46);
  }

  &.percent-legendary {
    background: linear-gradient(90deg, rgb(245, 102, 83) 20%, rgba(254, 177, 57, 1) 100%);
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent;

    &::after {
      margin-left: 5px;
      content: '🔥';
    }
  }
}

.webinarPercent {
  margin-left: auto;
}

.searchButton {
  cursor: pointer;
  position: absolute;
  right: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  transition: background-color 0.3s;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background-color);

  &:hover {
    background-color: var(--hover-background-color);
  }

  img {
    width: 100%;
    height: 100%;
  }
}
