:root {
  --text-color: #505050;
  --border-color: #c0c0c0;
  --background-color: #e7e7e7;
  --hover-background-color: #d7d7d7;
}

/* Время чтения теории */
.readingTime {
  font-weight: 600;
  display: block;
  float: right;
  padding: 15px;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--background-color);
}

/* Список чтения */
.readingListButton {
  font-weight: 600;
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--background-color);
}

.readingListButton img {
  width: 24px;
  height: 24px;
  filter: invert(41%) sepia(12%) saturate(11%) hue-rotate(6deg) brightness(94%) contrast(88%);
}

.readingListButton:hover {
  background-color: var(--hover-background-color);
}

/* Мелкий фикс, чтобы блоки времени чтения и списка не наезжали на текст */
#wikiThemeContent {
  margin-top: 15px;
}

/* Проценты дз & вебинара */
.percent {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  user-select: none;
}

.percent-gray {
  color: #ccc;
}

.percent-red {
  color: #b34b4b;
}

.percent-yellow {
  color: #c1bd0d;
}

.percent-green {
  color: rgb(127, 201, 46);
}

.percent-legendary {
  background: linear-gradient(90deg, rgb(245, 102, 83) 20%, rgba(254, 177, 57, 1) 100%);
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.percent-legendary::after {
  margin-left: 5px;
  content: '🔥';
}

.webinarPercent {
  margin-left: auto;
}

.searchButton {
  position: absolute;
  right: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  transition: background-color 0.3s;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-color);
}

.searchButton img {
  width: 28px;
  height: 28px;
}

.searchButton:hover {
  background-color: var(--hover-background-color);
}
